.App {
  max-width: 900px;
  display: block;
  margin: 40px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 600px) {
  .App {
    display: block;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 0px;
  }
}